:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos basicos*/

body{
    background: var(--preta);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

header .logo{
    margin-left: 5px;
}

header .menu{
    margin-left: 50px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*Filme Principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/lost.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
    margin-bottom: 40px;
}

.subtitulo{
    padding-bottom: 10px;
    font-weight: bold;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;;

    padding: 10px 20px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao2{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;;

    padding: 5px 5px;
    margin-right: 5px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
   
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    padding: 10px 20px 0px 20px;
}

.avatar{
    border-radius: 50%;
}